# ignore everything
/*
/*/

# but these
!/.gitignore
!/.gitattributes
!/README.md
!/packages.txt
!/tool.txt
!/alacritty/
# === fish ===
!/fish/
!/fish/config.fish
!/fish/README.md
!/fish/functions/
# zsh
!/zsh
#
!/i3/
!/neofetch/
#
!/picom/
!/pip/
!/polybar/
!/ranger/
/ranger/plugins/__pycache__/
!/tmux/
!/rofi/
!/mpd
!/htop

!.my_script
!install-my-script.sh

!auto-install-init.sh
!change-key-map.sh
!package.txt
!brew-install.sh
!clear-git

mpd/mpdstate
mpd/mpd.log
mpd/mpd.db
mpd/mpd.pid

fish/.DS_Store
tmux/.DS_Store
