# ignore everything
/*
/*/

# but these
!/.gitignore
!/.gitattributes
!/README.md
!/packages.txt
!/alacritty/
!/fish/config.fish
!/fish/README.md
!/i3/
!/neofetch/
!/nivm
!/nvim/init.vim
!/nvim/coc-settings.json
!/nvim/autoload/
!/nvim/my_extra/
!/nvim/README.md
/nvim/plugged
/nvim/tmp
!/picom/
!/pip/
!/polybar/
!/ranger/
!/tmux/
